<h1 class="display-1">{{ heading }}</h1>



<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="row">
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="horseName" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Name
        </label>
        <div class="col-md-10 col-lg-8">
          <input
            type="text"
            id="horseName"
            name="horseName"
            placeholder="Horse name"
            class="form-control"
            [ngClass]="dynamicCssClassesForInput(horseNameModel, form)"
            [(ngModel)]="horse.name"
            #horseNameModel="ngModel"
            required>
          <div class="invalid-feedback">
            Name is required
          </div>
        </div>
      </div>
    </div>

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="horseDateOfBirth" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Date of Birth
        </label>
        <div class="col-md-10 col-lg-8">
          <input
            type="date"
            id="horseDateOfBirth"
            name="horseDateOfBirth"
            class="form-control"
            [ngClass]="dynamicCssClassesForInput(horseDateOfBirthModel, form)"
            [(ngModel)]="horseBirthDateText"
            #horseDateOfBirthModel="ngModel"
            required>
          <div class="invalid-feedback">
            Date of birth is required
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="horseSex" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Sex
        </label>
        <div class="col-md-10 col-lg-8">
          <select
            class="form-select"
            id="horseSex"
            name="horseSex"
            [(ngModel)]="horse.sex"
            [ngClass]="{'is-invalid': horseSexModel.invalid && (horseSexModel.dirty || horseSexModel.touched || form.submitted)}"
            #horseSexModel="ngModel"
            required>
            <option [ngValue]="Sex.female">Female</option>
            <option [ngValue]="Sex.male">Male</option>
          </select>
        </div>
      </div>
    </div>

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="horseOwner" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Owner
        </label>
        <div class="col-md-10 col-lg-8">
          <app-autocomplete
            id="horseOwner"
            name="horseOwner"
            textInputClass="form-control"
            [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="horse.owner"
            [suggestions]="ownerSuggestionsForAuto"
            [formatModel]="ownerFormatter"
            valueNeedsToMatchSuggestion="true">
          </app-autocomplete>
        </div>

      </div>
    </div>
  </div>

  <!-- Parents in einer gemeinsamen Row -->
  <div class="row">
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="horseMother" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Mother
        </label>
        <app-autocomplete
          id="horseMother"
          name="horseMother"
          class="col-md-10 col-lg-8"
          textInputClass="form-control"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="motherSelection"
          [suggestions]="motherSuggestionsForAuto"
          [formatModel]="parentFormatter">
        </app-autocomplete>
      </div>
    </div>

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="horseFather" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Father
        </label>
        <app-autocomplete
          id="horseFather"
          name="horseFather"
          class="col-md-10 col-lg-8"
          textInputClass="form-control"
          [ngModelOptions]="{ standalone: true }"
          [(ngModel)]="fatherSelection"
          [suggestions]="fatherSuggestionsForAuto"
          [formatModel]="parentFormatter">
        </app-autocomplete>
      </div>
    </div>
  </div>




  <div class="row mb-2">
    <label for="horseDescription" class="col-form-label text-md-end text-muted col-md-2">
      Description
    </label>
    <div class="col-md-10">
        <textarea
          class="form-control"
          id="horseDescription"
          name="horseDescription"
          [(ngModel)]="horse.description">
        </textarea>
    </div>
  </div>


  <div class="mt-4 d-flex flex-row align-items-center">
    <button
      class="btn btn-primary"
      [disabled]="!form.valid"
      type="submit">
      {{ submitButtonText }}
    </button>

    <button
      *ngIf="modeIsEdit"
      type="button"
      class="btn btn-outline-danger ms-2"
      data-bs-toggle="modal"
      data-bs-target="#delete-dialog">
      Delete
    </button>



  </div>
</form>

<!-- Dialog nur im Edit-Modus rendern -->
<app-confirm-delete-dialog
  *ngIf="modeIsEdit"
  id="delete-dialog"
  [deleteWhat]="horse?.name || ''"
  (confirm)="deleteFromEdit()">
</app-confirm-delete-dialog>

